.geneLink {
    color: #606060;
    text-decoration: none;
    background-color: #aec2d0;
    border-radius: 12px;
    padding: 7px;
}

.geneLink:hover {
    color: black;
}

.download {
    justify-content: right;
    text-align: right;
    margin: 10px;
}