.leftDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: 38px;
    margin-right: 38px;
}

.logoAndTitleDiv {
    display: flex;
    gap: 33px;
    align-items: center;
}

.APIandDownloadDiv {
    display: flex;
    gap: 20px;
}

.headerLink {
    color: #606060;
    text-decoration: none;
    background-color: #aec2d0;
    border-radius: 12px;
    padding: 7px;
}

.headerLink:hover {
    color: black;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
    padding: 25px 0px 25px 0px;
    gap: 30px;
    background-color: #8eaabe;
    width: 100%;
}

.text {
    text-align: left;
    font-size: 18px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 700px) {
    .text {
        display: none;
    }
    .mainLogo{
        margin-left: 0px;
    }
}