.rightDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: 38px;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.logoAndTitleDiv {
    display: flex;
    gap: 33px;
    align-items: center;
    margin-left: 38px;
    margin-right: 38px;
}

.APIandDownloadDiv {
    display: flex;
    gap: 20px;
    align-content: left;
}

.headerLink {
    color: #606060;
    text-decoration: none;
    background-color: #cecece;
    border-radius: 12px;
    padding: 7px;
}

.mainMenu {
    position: relative;
}

.tabLink {
    color: #d7d7d7;
    text-decoration: none;
    text-align: center;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1px;
    background-color: #586a86;
    border-radius: 0px;
    padding: 10px;
    position: absolute;
}

.headerLink:hover {
    color: black;
}

.longTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
    padding: 25px 0px 25px 0px;
    gap: 30px;
    background-color: #8eaabe;
    width: 100%;
}

.shortTitle {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0px 25px 0px 25px;
    padding: 25px 0px 25px 0px;
    gap: 30px;
    background-color: #8eaabe;
    width: 100%;
}

.text {
    font-size: 18px;
}

@media only screen and (max-width: 700px) {
    .shortTitle {
        display: flex;
    }
    .longTitle {
        display: none;
    }
}