.formDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0px 25px 0px 25px;
}

.dbGroup {
  height: 100%;
  text-align: center;
  /* background-color: #90acd0; */
  /* position: sticky;
  top: 0; */
  /* margin-top: 50px; */
  padding-top: 30px;
  padding-left: 15px;
  font-size: 20px;
  /* border-radius: 25px; */
  /* padding: 5px 25px 5px 25px; */
}

.formItem {
  margin: 10px;
  /* text-align: center; */
}

.databaseLogo {
  width: 175px;
  height: auto;
  margin-right: 25px;
}

/* .logoLink {
  cursor: default;
} */

/* .appyterLogo {
  background-color: white;
  border-radius: 4px;
  width: auto;
  height: 30px;
  margin-left: 5px;
} */

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px; */
}

/* .buttonDiv {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
} */

.dbLogo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.logoDesc {
  font-size: 12px;
  width: 80%;
  text-align: left;
}

.tooltipText {
  text-align: center;
}

.tooltipText a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.tooltipText a:hover {
  text-decoration: underline;
}