  .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 150px;
    font-size: 18px;
  }
  
  .horizontalFlexbox {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 25px;
  }

  .verticalFlexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 25px;
  }

  .darkOnHover:hover {
    background-color: #9ebfd7;
  }

  .textDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }